@inject museia.Services.CurrentUserService CurrentUserService
@{
    var userType = await CurrentUserService.GetCurrentUserTypeAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/museia.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Логотип -->
                <a class="navbar-brand" asp-area="" asp-controller="Post" asp-action="Index">museia</a>
                @if (User.Identity.IsAuthenticated)
                {
                    if (userType == UserType.Moderator)
                    {
                        <a href="/Complaint/Complaints" class="btn btn-outline-primary ms-2">Нерозглянуті скарги</a>
                    }
                    else
                    {
                        <a href="/User/Profile" class="btn btn-outline-primary ms-2">@ViewContext.HttpContext.User.Identity.Name</a>
                    }
                }

                <!-- Кнопка для мобільного меню -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Навбар -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated && userType == UserType.Moderator)
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="btn btn-danger">Вихід</button>
                                </form>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a href="/Post/Create" class="btn btn-success me-2" style="color: white"> Створити допис</a>
                            </li>
                            @if (ViewContext.RouteData.Values["controller"].ToString() == "User" && ViewContext.RouteData.Values["action"].ToString() == "Profile")
                            {
                                <li class="nav-item">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="btn btn-danger">Вихід</button>
                                    </form>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Вхід</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2025 - museia
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>