/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #fffaf1;
}


a {
    color: #0077cc;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #fffaf1;
    color: black;
}


.btn-success.me-2 {
    background-color: /*#0e0514;*/ /* #959ab1;*/ #5a506a; /**/ /*#C9E2F5;*/
    border-color: /*#959ab1;*/ #b3c7c9;
    color: white;
}

    .btn-success.me-2:hover {
        background-color: /*#0e0514;*/ #5a506a;
        border-color: /* #959ab1;*/ #b3c7c9;
        color: white;
    }

    .btn-success.me-2:focus, .btn-success.me-2:active:focus {
        background-color: /*#0e0514;*/ #5a506a;
        border-color: /*#959ab1;*/ #b3c7c9;
        color: white;
    }

.btn-primary {
    background-color: #5a506a;
    border-color: #b3c7c9;
    color: white;
}

    .btn-primary:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-primary:focus, .btn-primary:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

.btn-danger {
    background-color: #5a506a;
    border-color: #b3c7c9;
    color: white;
}

    .btn-danger:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-danger:focus, .btn-danger:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

}