@{
    ViewData["Title"] = "Report Post";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/css/report.css" />
</head>
<body>
    <div class="container-report">
        <h2 class="text-center">Створення скарги</h2>

        <form method="post">
            <div class="form-group">
                <label class="form-label">Причина скарги:</label>
                <textarea class="form-control" id="complaintReason" name="complaintReason" rows="3" required></textarea>
            </div>
            <input type="hidden" id="postId" name="postId" value="@ViewBag.PostId" />
            <button type="submit" class="btn btn-success w-100">Відправити скаргу!</button>
            @* <div class="text-center mt-3"> *@
            @*     <a href="/" class="text-decoration-none">🔙 Вернутись назад</a> *@
            @* </div> *@
        </form>
    </div>
</body>
</html>

