@model museia.Models.EditProfileViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/css/edit.css" />
    <style>.navbar .btn-success.me-2 { display: none; }</style>
</head>
<body>

<h2>Редагування профілю</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-label">
        <label for="username">Ім'я користувача</label>
        <input type="text" class="form-control" asp-for="Username" placeholder="Залиште порожнім, якщо не хочете змінювати">
    </div>

    <div class="form-label">
        <label for="description">Опис</label>
        <textarea class="form-control" asp-for="Description" rows="3" placeholder="Залиште порожнім, якщо не хочете змінювати"></textarea>
    </div>

    <div class="form-label">
        <label for="avatar">Аватар</label>
        <input type="file" class="form-control" asp-for="Avatar">
    </div>

    @if (!string.IsNullOrEmpty(Model.AvatarUrl))
    {
            <div class ="form-label">
            <p>Поточний аватар:</p>
            <img src="@Model.AvatarUrl" alt="Аватар" class="img-thumbnail" style="max-width: 220px; max-height:250px;margin-top:-15px;margin-bottom:6px;">
        </div>
    }

    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>

<form method="post" asp-action="DeleteProfile">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Ви впевнені, що хочете видалити свій профіль?')">Видалити профіль</button>
</form>

</body>
</html>
