@{
    ViewData["Title"] = "Додавання реакції";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/css/addreaction.css" />
</head>
<body>

    <h2>Додавання реакції</h2>

<form method="post">
    <div class="form-group">
        <label for="reactionType">Тип реакції:</label>
        <select class="form-control" id="reactionType" name="ReactionType">
            <option value="Heart">❤️</option>
            <option value="ThumbsUp">👍</option>
            <option value="Cry">😢</option>
            <option value="Dragon">🐉</option>
            <option value="Laughing">😹</option>
            <option value="Throwing_Up">🤮</option>
            <option value="Sparkle">✨</option>
        </select>
    </div>
    <input type="hidden" id="postId" name="postId" value="@ViewBag.PostId" />
    <button type="submit" class="btn btn-primary">Submit Reaction</button>
</form>
</body>
</html>