@model Post
@{
    ViewData["Title"] = "Створити допис";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - museia</title>
    <link rel="stylesheet" href="~/css/post.css" />
    <style>.navbar .btn-success.me-2 { display: none; }</style>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    <div>
        <h2 class="text">@* 📝 *@ Створення допису</h2>
        <div>
            <label class="form-label">Опис</label>
            <textarea class="form-control" rows="4" asp-for="PostText"></textarea>
        </div>
        <div>
            <label class="form-label">Тег</label>
            <select asp-for="PostTag" asp-items="ViewBag.PostTags" class="form-control"></select>
        </div>
        <div>
            <label class="form-label">Фото</label>
            <input type="file" name="photoFile" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success-publish">Опублікувати</button>

        @* <div class="text-center mt-3">
            <a href="/" class="text-decoration-none">🔙 Вернутись назад</a>
        </div> *@
    </div>
</form>
</body>
</html>