@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="posts">
    <h3>All Posts</h3>
    @{
        if(Model.Count != 0)
        {
            foreach (var post in Model)
            {
                <div class="post">
                    <h4>@post.PostText</h4>
                    <p>@post.PostTag</p>
                    <p><strong>Дата публікації:</strong> @post.CreatedAt.ToString("yyyy-MM-dd")</p>
                </div>

            }
        }
        else
        {
            <div>
                <h4>Постів ще нема, лох</h4>
            </div>
        }
    }
    
</div>

