body {
    background-color: #b3c7c9;
}

h2 {
    color: #0e0514;
     /*font-weight: 499;*/
}

.reactionType {
    color: #0e0514;
}


body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: "Montserrat", serif !important; line-height: 2vw;
}

.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 250px;
    
}

.btn-primary {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
}

    .btn-primary:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

    .btn-primary:focus, .btn-primary:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }




