body {
    background-color: #b3c7c9;
}

body, th, h2, tr {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
    line-height: 2vw;
}


.table {
    border-color: #0e0514;
    background-color: white;
   /* border-radius: 1vw; */
    overflow: hidden;
  
}

.table thead {
    background-color: #5a506a;
    color: white;
}

    .table th,
    .table td {
        padding: 1vw;
        text-align: left;
        font-size: 1rem;
    }

    .table tbody tr:hover {
        background-color: #fffaf1;
        transition: background-color 0.3s ease;
    }
.email-th{
    width:250px;
}
.username-th{
    width:250px;
}
.complaint-th{
    width:130px;
}

