body {
    background-color: #b3c7c9;
}

h2 {
    color: #0e0514;
    font-weight: bold;
    margin-bottom: 17px;
}

.container-edit {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 90px auto 30px auto;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #0e0514;
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 499;
}

.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
    resize: none;
}


.btn-success-changes {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    margin-top: 6px;
}
    .btn-success-changes:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }
    .btn-success-changes:focus, .btn-success-changes:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }


body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
    line-height: 2vw;
}
.btn-save-changes {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    margin-right: 7px;
    margin-top: 6px;
}

    .btn-save-changes:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

    .btn-save-changes:focus, .save-changes:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

.btn-cancel-changes {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    margin-right: 7px;
    margin-top: 6px;
}

    .btn-cancel-changes:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

    .btn-cancel-changes:focus, .btn-cancel-changes:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

.btn-outline-danger.btn-sm {
    background-color: #fffaf1;
    border-color: #0e0514;
    color: #0e0514;
    margin-right: 7px;
    margin-top: 6px;
}

    .btn-outline-danger.btn-sm:hover {
        background-color: #fffaf1;
        border-color: #fffaf1;
        color: #0e0514;
    }

    .btn-outline-danger.btn-sm:focus,
    .btn-outline-danger.btn-sm:active:focus {
        background-color: #fffaf1;
        border-color: #0e0514;
        color: #0e0514;
    }

.btn-primary {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
}

    .btn-primary:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

    .btn-primary:focus, .btn-primary:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }


.btn-danger {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    margin-top: 15px;
}
    .btn-danger:hover {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }
    .btn-danger:focus, .btn-danger:active:focus {
        background-color: #5a506a;
        border-color: #fffaf1;
        color: white;
    }

.buttons-container {
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

.button-wrapper {
    flex: 1;
    display: flex;
}
    .button-wrapper button {
        flex: 1;
    }
