body {
    background-color: #b3c7c9;
}

.container-login {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    max-width: 450px;
    margin: 200px auto 170px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: "Montserrat", serif !important;
    line-height: 2vw;
}

h2 {
    color: #0e0514;
    font-weight: bold;
}

.form-label {
    color: #0e0514;
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 499;
}

.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
}

.navbar .btn-primary {
    display: none;
}


.btn-primary.w-100 {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    border-radius: 4px;
    margin: 4px 0;
    font-size: 15px;
    font-weight: 499;
}

    .btn-primary.w-100:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-primary.w-100:focus, .btn-primary.w-100:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }



.text-center.mt-3 {
    color: #0e0514;
    font-size: 15px;
    font-weight: 499;
}

    .text-center.mt-3 a {
        color: #0e0514;
        text-decoration: underline;
        font-weight: bold;
    }

        .text-center.mt-3 a:hover {
            color: #5a506a;
            font-weight: bold;
        }

