body {
    background-color: /*#B3C7C9;*/ /*#C9E2F5;*/
    /*#fffaf1;*/ /*#0e0514; */ /*#5a506a;*/ #959ab1;
}

.container-login {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    max-width: 450px;
    margin: 140px auto 140px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0e0514;
    font-size: 26px;
}

.form-label {
    color: #0e0514;
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 499;
}

.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
}

.btn-primary.w-100 {
    background-color: #0e0514;
    border-color: #959ab1;
    color: white;
    border-radius: 4px;
    margin: 4px 0;
    font-size: 15px;
    font-weight: 499;
}

    .btn-primary.w-100:hover {
        background-color: #0e0514;
        border-color: #959ab1;
        color: white;
    }

    .btn-primary.w-100:focus, .btn-primary.w-100:active:focus {
        background-color: #0e0514;
        border-color: #959ab1;
        color: white;
    }



.text-center.mt-3 {
    color: #0e0514;
    font-size: 15px;
    font-weight: 499;
}

    .text-center.mt-3 a {
        color: #0e0514;
        text-decoration: underline;
        font-weight: bold;
    }

        .text-center.mt-3 a:hover {
            color: #5a506a;
            font-weight: bold;
        }

