.post {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-actions {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.btn-edit-post {
    width: 10vw;
    background: #5a506a;
    color: white;
}

.btn-delete-post {
    width: 10vw;
    background: #372a39;
    color: white;
}

body {
    background-color: #b3c7c9;
}

.container-create-post {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 85px auto 50px auto;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.form-label {
    color: #0e0514;
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 499;
}


.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
}

h2 {
    color: #0e0514;
    font-size: 26px;
}


.btn-success.w-100 {
    background-color: /*#0e0514;*/ /* #959ab1;*/ #5a506a; /*#C9E2F5;*/
    border-color: /* #959ab1;*/ #b3c7c9;
    color: white;
    border-radius: 4px;
    margin: 4px 0;
    font-weight: 499;
    font-size: 15px;
}

    .btn-success.w-100:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-success.w-100:focus, .btn-success.w-100:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

.text-center.mt-3 {
    color: #0e0514;
    font-weight: 499;
    font-size: 15px;
}

.text-center.mt-3 a {
     color: #0e0514;
}

.text-center.mt-3 a:hover {
     color: #5a506a;
}

.nickname {
    width: fit-content;
    padding: 0vw;
    color: #69bacb;
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3vw;
    font-weight: 600;
}

.post-text {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.1vw;
    width: 100%;
    max-height:10vw;
    overflow-y:scroll;
    scrollbar-width:none;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'IBM Plex Serif', serif !important;
    line-height: 2vw;;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    font-size: 0.9em; 
    color: #555;
    margin-top: 0.5em;
}

.post-tag,
.post-date {
    
}