.post {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #0e0514;
}

.post-actions {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.container-create-post {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 30px auto 50px auto;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0e0514;
    font-weight: bold;
}

.btn-complaint-post,
.btn-reaction-post {
    color: #0e0514;
    font-weight: 499;
}


.post-text {
    color: #0e0514;
    font-weight:bold;

}

.scroll-text{
    max-height:100px;
    overflow-y:auto;
    padding-top:10px;
    box-sizing:border-box;
    scrollbar-width:none;
    -ms-overflow-style:none;
}

.scroll-text::webkit-scrollbar{
    display:none;
    margin-bottom: 10px;
}


.menu-container {
    position: relative;
    display: inline-block;
}

.dots-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 100;
}

    .dropdown-menu a {
        color: #333;
        padding: 8px 10px;
        text-decoration: none;
        display: block;
    }

        .dropdown-menu a:hover {
            background-color: #f0f0f0;
        }

.menu-container.open .dropdown-menu {
    display: block;
}

.reaction-button,
.reaction-button span,
.btn-link {
    text-decoration: none !important;
}

.post-tag {
    color: #0e0514;
    font-weight: 499;
}

.post-date {
    color: #0e0514;
    font-weight: 499;
}

.btn-edit-post {
    width: 10vw;
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
}
    .btn-edit-post:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-edit-post:focus, .btn-edit-post:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

.btn-delete-post {
    width: 10vw;
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
}

    .btn-delete-post:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        /*  border-width: 0.25vw;*/
        color: white;
    }

    .btn-delete-post:focus, .btn-delete-post:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }


body {
    background-color: #b3c7c9;
}

.form-label {
    color: #0e0514;
    margin-bottom:0px;
}


.form-control {
    border: 1px solid #0e0514;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 450px;
    resize: none;
}

h2 {
    color: #0e0514;
    /*font-weight: 499;*/
}



.btn-success.w-100 {
    background-color: #5a506a;
    border-color: #0e0514;
    color: white;
    border-radius: 4px;
    margin: 4px 0;
    font-weight: 499;
    font-size: 15px;
}

    .btn-success.w-100:hover {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }

    .btn-success.w-100:focus, .btn-success.w-100:active:focus {
        background-color: #5a506a;
        border-color: #b3c7c9;
        color: white;
    }



/*.text-center.mt-3 {
    color: #0e0514;
    font-weight: 499;
    font-size: 15px;
}

    .text-center.mt-3 a {
         color: #0e0514;
    }

    .text-center.mt-3 a:hover {
         color: #5a506a;
    }*/


.nickname {
    width: fit-content;
    padding: 0vw;
    color: #69bacb;
    text-decoration: none;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: -15px;
}
    .nickname:hover {
        color: #0e0514;
    }

    .nickname:focus, .nickname:active:focus {
        color: #0e0514;
    }

.post-text {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
    font-size: 1.1vw;
    width: 100%;
    max-height: 10vw;
    overflow-y: scroll;
    scrollbar-width: none;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif !important;
    line-height: 2vw;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    font-size: 0.9em; 
    color: #555;
    margin-top: 0.5em;
}



h3 {
    color: #0e0514;
    /*font-weight: 499;*/
}

h4{
    margin-bottom:15px;
}

p {
    color: #0e0514;
}