body {
}
.profile-username{
    padding-left:180px;
    padding-top:40px;
}
.profile-email{
    margin-top:-40px;
    padding-left:180px;
}
.profile-post{
    padding-top:50px;
}
.profile-header{
    width:1269px;
    height:250px;
    background-color:white;
    border:1px solid white;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius:.25rem;
    margin-left:30px;
}
.post-user{
    padding-left:35px;
}


body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'IBM Plex Serif', serif !important;
    line-height: 2vw;
    ;
}