.profile-username {
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.profile-email {
    margin-top: -80px;
    padding-left: 200px;
}
.profile-post{
    padding-top:50px;

}

.profile-header{
    width:1269px;
    height:250px;
    background-color:white;
    border:1px solid white;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius:.25rem;
    margin-left:30px;
}
.post-user{
    padding-left:35px;

}


body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'IBM Plex Serif', serif !important;
    line-height: 2vw;
}

h3 {
    color: #0e0514;
}