body {
    background-color: #C7AEB9;
}

.container.mt-5 {
    background-color: white;
    border-radius: 10px; 
    padding: 25px; 
    margin: 10px auto;
    max-width: 450px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

h2 {
    color: #372A39;
    font-size: 26px;
}

.form-label {
    color: #372A39;
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 499;
}

.form-control {
    border: 1px solid #372A39;
    border-radius: 4px;
    margin-bottom: 12px;
}


.form-check-label {
    color: #372A39;
    font-size: 14px;
    line-height: 1.2;
}

    .form-check-label a {
        color: #372A39;
        text-decoration: underline;
        font-weight: bold;
    }

        .form-check-label a:hover {
            color: #C7AEB9;
        }



.btn-success {
    background-color: #372A39;
    border-color: #372A39;
    color: white;
    border-radius: 4px;
    margin: 4px 0;
    font-weight: 499;
    font-size: 15px;
}
    .btn-success:hover {
        background-color: #372A39;
        border-color: #372A39;
        color: white;    
    }

    .btn-success:focus, .btn-success:active:focus {
        background-color: #372A39;
        border-color: #372A39;
        color: white;
    }


text-center {
    color: #372A39;
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 499;
}
.text-center.mt-3 {
    color: #372A39;
    font-weight: 499;
    font-size: 15px;
}

.text-center a {
    color: #372A39;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
}

    .text-center a:hover {
        color: #C7AEB9;       
    }

